<cart>
    <div class="cart__product--image --mobile">
        <product__image />
    </div>
    <div class="cart__product--image --desktop">
        <product__image />
    </div>
    <div class="cart__product--info">
        <product__remove class="cart__product--remove">X</product__remove>
        <div class="cart__product--name">
            <product__title />
        </div>   
        <div class="cart__product--bottom">
            <div class="cart__product--qty">
                <product__quantity--decrease></product__quantity--decrease>
                <product__quantity></product__quantity>
                <product__quantity--increase></product__quantity--increase>
            </div>
            <product__price  class="cart__product--price"/>
        </div>
    </div>
</cart>

