{%- comment -%}
This is a required section for the Shopify Theme Store.
It is available in the "Footer" section in the theme editor.

Theme Store required settings:


Theme Store optional settings:

{%- endcomment -%}

<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-holder">The statements made on this website have not been evaluated by the FDA (U.S. Food & Drug Administration). The products sold on this website are not intended to diagnose, treat, cure, or prevent any disease. The information provided by this website or this company is not a substitute for a face-to-face consultation with your physician, and should not be construed as individual medical advice.</div>        
      </div>
      <div class="col">
        <div class="terms">
          <div class="txt"><strong>Accessibility Tool</strong></div>
          <div class="txt"><span>Do Not Sell My Personal Information</span></div>
          {%- assign footer_linklist = section.settings.footer_linklist -%}
          {% if linklists[footer_linklist].links.size > 0 %}
            <ul class="footer-nav">
              {% for link in linklists[footer_linklist].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li> /
              {% endfor %}
            </ul>
          {% endif %}
          <div class="copyrights">
            <small>Copyright &copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }}. All rights reserved.</small>
          </div>
        </div>   
      </div>
    </div>
  </div>
  
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
