{%- comment -%}
This is NOT required section for the Shopify Theme Store.
It will be avaiable from shopify store.

Theme Store required settings:


Theme Store optional settings:

{%- endcomment -%}
<section class="cover front-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="cover-text">
          <div class="reviews">+20,000 5-star reviews</div>
          <h1 class="cover-heading">Add nature’s most powerful foods to your morning routine</h1>
          <p class="lead text-muted">Get the lift you want and the balance you need with organic coffee and Lion’s Mane.</p>
          <div class="btn-holder">
            <a href="javascript:void(0);" class="btn btn-primary"> TRY MORNING ROUTINE</a>
          </div>          
        </div>
      </div>
      <div class="col">
        <div class="cover-image"></div>
      </div>
    </div>
  </div>
</section>