{%- comment -%}
This is NOT required section for the Shopify Theme Store.
It will be avaiable from shopify store.

Theme Store required settings:


Theme Store optional settings:

{%- endcomment -%}
<section class="cover collections">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="cover-text">
          <div class="reviews">+20,000 5-star reviews</div>
          <h1 class="cover-heading">Making nature’s best foods easier to enjoy</h1>
          <p class="lead text-muted">It all started back in Finland, where saunas outnumber cars and people compete in things like swamp soccer and mobile phone throwing (seriously, we have world championships for this stuff).</p>
          <div class="btn-holder">
            <a href="javascript:void(0);" class="btn btn-primary"> TRY MORNING ROUTINE</a>
          </div>          
        </div>
      </div>
      <div class="col">
        <div class="cover-image">
          <img src="{{ 'hero-protein.png' | asset_url }}" alt="Protein">
        </div>        
      </div>
    </div>
  </div>
</section>