<div v-if="isEmpty" key="inner-empty" class="empty">
        <div class="emptyContent">
          <p v-if="prismicCart.emptyPreheader" class="oPreheader" class="emptyPreheader">
            empty PreHeader
          </p>

          <p v-if="prismicCart.emptyHeading" class="o-h5" class="emptyHeading">
            empty Heading
          </p>

          <p v-if="prismicCart.emptyText" class="emptyText">empty Text</p>

          <div class="emptyButtonWrapper">
            <BaseButton
              v-if="prismicCart.emptyCtaLink && prismicCart.emptyCtaLink.url"
              :smart="prismicCart.emptyCtaLink.url"
              :target="prismicCart.emptyCtaLink.target"
            >
              Empty CTA Text
            </BaseButton>
          </div>
        </div>

        <div class="emptyImageWrapper">
          <div class="emptyImageWrapperInner">
            <BaseImage :image="prismicCart.emptyImage" :sizes="{ all: 'calc(100vw - 8rem)', medium: '45rem' }" />
          </div>
        </div>
      </div>