<div class="mainHeader">
    <div v-if="hasSubscriptionItemsInCart && promoActivated" :class="$style.freeShippingWrapper">
    <SideCartPromo />
    </div>

    <div v-else-if="multiPromoActivated">
    <SideCartMultiPromo />
    </div>

    <div v-else-if="!hasSubscriptionItemsInCart" class="freeShippingWrapper">
        <goal-counter />
    </div>

    <h2 v-else class="o-h5" class="mainHeaderHeading">Cart</h2>
</div>