<cart>
    <div class="mainProductImage __mobile">
        <product__image />
    </div>

    <div class="mainProductImage __desktop">
        <product__image />
    </div>

    <div class="mainProductInfo">
        <product__remove class="mainProductRemove">X</product__remove>
        
        <div class="mainProductName">
            <product__title class="mainProductNameLink" />
        </div>   

        <div class="mainProductSpacer" ></div>

        <div class="mainProductBottom">
            <div class="mainProductBottomQty">
                <product__quantity--decrease></product__quantity--decrease>
                <product__quantity></product__quantity>
                <product__quantity--increase></product__quantity--increase>
            </div>
            <product__price  class="mainProductBottomPrice"/>
        </div>
    </div>
</cart>

