
<div class="top">
    <div v-if="medium" class="topLogo">
        <BaseLink to="/" aria-label="FourSigmatic Homepage">
        <HeaderLogo />
        </BaseLink>
    </div>

    <div class="topClose">
        <a href="#" class="close" title="Close">
        <cart__close/>
        </a>
    </div>
    
    <div v-if="medium" class="topMenu">
        <HeaderRight @trigger="$emit('trigger', $event)" />
    </div>
</div>