<header class="collection-tags" role="banner">
  {% if collection.description != blank %}
    <div class="rte">
      {{ collection.description }}
    </div>
  {% endif %}
  {% if collection.all_tags.size > 0 %}
    <h2>Tags</h2>
    <ul class="tags no-list">
      {% for tag in collection.all_tags %}
        {% if current_tags contains tag %}
          <li class="active">
            {{ tag | link_to_remove_tag: tag }}
          </li>
        {% else %}
          <li>
            {{ tag | link_to_tag: tag }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</header>