<div class="header-login">
  <a href="javascript:void(0);" class="login-item search search-window-open">
    {% include 'icon-search-header' %}
    <div class="label">Search</div>
  </a>  
  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account" class="login-item">
        {% include 'icon-user' %}
        <div class="label">My account</div>
      </a>
    {% else %}
      <a href="/account/login" class="login-item">
        {% include 'icon-user' %}
        <div class="label">{{ 'layout.customer.log_in' | t }}</div>
      </a>
    {% endif %}   
  {% endif %}    
  <cart__open  class="login-item basket">
    {% if cart.item_count > 0 %}
      <div class="count">{{ cart.item_count }}</div>
    {% endif %}
    {% include 'icon-shopping-basket' %}
    <div class="label">{{ 'layout.cart.title' | t }}</div>
  </cart__open> 
  <a href="javascript:void(0);" class="login-item mobile-menu nav-trigger">
    <span></span>
  </a>
</div>