<section class="content-section left-aligner">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="{{ 'left-image-section.jpg' | asset_url }}" class="image" alt="left-image-section">
      </div>
      <div class="col">
        <div class="content">
          <div class="quote">WE DO THINGS DIFFERENTLY</div>
          <h2>You don’t need to go to the forest to feel the power of nature</h2>
          <p>We started Four Sigmatic in Finland, where people believe that plants and mushrooms should be experienced, not taken in a pill. Why? Pills don’t have nutty aromas that wake you up in the morning but freshly brewed coffee can do that.</p>
          <a href="javascript:void(0);" class="btn btn-primary">OUR STORY</a>
        </div>
      </div>
    </div>
  </div>
</section>