<div class="search-window">  
  <div class="search-holder">
    <a href="javascript:void(0);" id="closeSearchWindow" class="close-icon"><span></span></a>
    <h5>What are you looking for?</h5>   
    <form class="search-group search-form" action="/search">
      <input class="form-control" id="searchInput" type="text" placeholder="Search..." name="q" value="{{ search.terms | escape }}"  />
      <div class="input-group-append">
        <button class="magnifier">{% include 'icon-search-header' %}</button>
        <button class="clear">Clear</button>        
      </div>     
    </form>
    <div class="search-results" id="predictions"></div>
  </div>
</div>